body {
    background-color: #F8E9DD;
    margin: 0;
    padding: 0;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 15px;
    width: 400px;
    margin-top: 70px;
}

/* ! Balance Container */

#balance-container {
    position: relative;
    display: flex;
    height: 100px;
    width: 400px;
    background-color: #EC775F;
    border-radius: 15px;
    justify-content: space-between;
}

.balance-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    color: white;
}

.balance-label {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 13px;
}

.account-balance {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}

.balance-img {
    height: 45px;
    padding: 25px;
}


/* ! Graph Container */

#graph-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 25px;
}

.spending-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    width: 80%;
    margin-left: 20px;
}

.canvas {
    display: flex;
    width: 380px;
    align-self: center;
}

.hr {
    background-color: #F8E9DD;
    position: relative;
    width: 350px;
    align-self: center;
    margin: 25px 0px 25px 0px;
    height: 1px;
    border: 0;
    border-radius: 5px;
}

/* ! Total container */

#total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 23px 0px 23px;
}

#total-month {
    display: flex;
    flex-direction: column;
}

.total-label {
    font-family: "DM Sans", sans-serif;
    color: #93867B;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.week-expenses {
    font-size: 10px;
    color: black;
    font-size: 40px;
    font-weight: 800;
    font-family: "DM Sans", sans-serif;
}


#growth-components {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.growth-percent {
    font-size: 15px;
    font-weight: 600;
    color: black;
    font-family: "DM Sans", sans-serif;
}

.growth-label {
    font-family: "DM Sans", sans-serif;
    color: #93867B;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
}